// -
    param {
        id:
        name:
        value:
        checked:
        disabled:
        label:
        reverse:
        labelTwo:
    }

mixin Toggle(param = {})

    - param.id = param.id || 'id-' + Math.floor(Math.random() * 666);
    - param.name = param.name || 'name-' + Math.floor(Math.random() * 666);

    .toggle(
        class=param.reverse ? 'toggle_reverse' : ''
        class=param.labelTwo ? 'toggle_double-label' : ''
    )
        - if (param.labelTwo)
            label(for=param.id) #{param.labelTwo}
        input(type="checkbox" name=param.name id=param.id value=param.value checked=param.checked disabled=param.disabled)
        label(for=param.id) #{param.label}
